@media screen and (max-width: 600px) {
  main #feature .feature-card h3 {
    font-size: 16px;
  }

  main #feature .feature-card p {
    font-size: 14px;
  }

  main #product .container {
    flex-direction: column;
    gap: 32px;
  }

  #blob3 {
    top: 0;
  }

  #blob3 svg {
    width: 50vw;
  }

  main #contact .contact-content {
    padding: 40px;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 16px 10%;
  }
  header .responsive-wrapper {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header #brand img {
    width: 50px;
  }

  header #brand h1 {
    display: none;
  }

  header .btn-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    height: 30px;
    width: 30px;
  }

  header .btn-menu > svg {
    color: #471f1f;
  }

  header nav {
    top: 100%;
    left: 0;
    right: 0;
    background-color: #ffbd59;
    padding: 0 10%;
    position: absolute;
    flex-direction: column;
    align-items: start;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
  }

  header nav.show {
    padding: 0 10% 20px;
    max-height: 300px;
  }

  main #hero {
    padding: 0 10%;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 120px;
  }

  main #hero .headline {
    display: flex;
    flex-direction: column;
  }

  main #hero .headline h1 {
    font-size: 48px;
    line-height: 1.25;
    text-align: center;
  }

  main #hero .headline p {
    text-align: center;
    font-size: 15px;
  }

  main #hero .headline a {
    margin: 0 auto;
    font-size: 15px;
  }

  main #hero .img-container {
    width: 100%;
    border-radius: 36px;
    overflow: hidden;
  }

  main #hero .img-container img {
    height: 300px;
  }

  main #about {
    padding: 0 10%;
    margin-bottom: 120px;
  }

  main #feature {
    margin-bottom: 120px;
    padding: 52px 10%;
    flex-direction: column-reverse;
    gap: 40px;
  }

  main #feature > h1 {
    text-align: center;
    font-size: 48px;
    line-height: 1.25;
  }

  main #feature > h1 > br {
    display: none;
  }

  main #feature .feature-card {
    max-width: 100%;
    gap: 16px;
    flex-direction: column;
    text-align: center;
  }

  main #feature .feature-card > svg {
    width: 40px;
  }

  main #product {
    padding: 0 10%;
    margin-bottom: 120px;
    gap: 36px;
  }

  main #product .container {
    width: 100%;
    gap: 32px;
  }

  main #product .container > div img {
    height: 200px;
  }

  main #product .btn-order {
    font-size: 14px;
  }

  main #product .btn-order svg {
    height: 30px;
  }

  main #contact {
    padding: 0 10%;
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 960px) {
  main #about .about-content {
    flex-direction: column-reverse;
    gap: 20px;
    margin-top: 20px;
  }

  main #about .about-content p {
    text-align: justify;
  }

  main #about .about-content img {
    height: 55vw;
    max-height: 350px;
  }

  #blob2 {
    top: 35%;
    left: -10%;
  }

  #blob2 svg {
    width: 70vw;
  }
}
